<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>StegTool</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 sidebar-menu">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'encode' %}">Encode</a></li>
          <li><a href="{% url 'decode' %}">Decode</a></li>
        </ul>
        <div class="sidebar-footer">
          <p>Copyright ©<script type="text/javascript">document.write(new Date().getFullYear());</script>
            All rights reserved |
          </p>
        </div>
     {% endblock %}
      </div>
      <div class="col-sm-10 main-content">{% block content %}{% endblock %}</div>
    </div>
  </div>
<!--  <footer id="footer">-->
<!--    <div class="container-fluid" style="background-color:#eff5f5;">-->
<!--      <div class="row row-no-gutters" id="bottom-footer">-->
<!--        <div class="col-xs-12 col-md-5 text-center">-->
<!--          <ul class="vertical-links small">-->
<!--            <li><a href="#">Privacy</a></li>-->
<!--            <li><a href="#">Terms & Conditions</a></li>-->
<!--            <li><a href="#">Contact Us</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-xs-12 col-md-5 text-center" >-->
<!--          <ul>-->
<!--            <li class="small">© Copyright 2019 Website by <a href="#" style="color:white;font-weight:500;">Developr</a>. All Rights reserved.</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div> &lt;!&ndash;  end row  &ndash;&gt;-->
<!--    </div> &lt;!&ndash;  end container-fluid  &ndash;&gt;-->
<!--  </footer>-->
  <script type="text/javascript" src= "{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src= "{% static 'js/app.js' %}"></script>
  </body>
  </html>